<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="MRIEditor">
         <property
               name="appName"
               value="MRIEditor">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/MRIEditor/css/default.css">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            category="MRIEditor.category1"
            class="mrieditor.parts.View3DPart"
            id="MRIEditor.3dview"
            name="3D View"
            restorable="true">
      </e4view>
      <category
            id="MRIEditor.category1"
            name="MRI Editor">
      </category>
      <e4view
            category="MRIEditor.category1"
            class="mrieditor.parts.SoundPart"
            id="MRIEditor.audioeditor"
            name="Audio Editor"
            restorable="true">
      </e4view>
      <e4view
            category="MRIEditor.category1"
            class="mrieditor.parts.SamplePart"
            id="MRIEditor.gameview"
            name="Games"
            restorable="true">
      </e4view>
   </extension>

</plugin>
